    /*
    @preserve
    bstreeview.css
    Version: 1.2.0
    Authors: Sami CHNITER <sami.chniter@gmail.com>
    Copyright 2020
    License: Apache License 2.0
    Project: https://github.com/chniter/bstreeview
    */

   .headicon {
    border-radius: 50% !important;
   }


    .bstreeview {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border-radius: .25rem;
    padding: 0;
    overflow: hidden;    
    }

    .bstreeview > .list-group-item:first-child {
    border-top-width: 0;
    background: transparent !important;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color:transparent;
    }

   .bstreeview .state-icon {
    margin-right: 8px;
    width: 12px;
    text-align: center;
    }

   .bstreeview .item-icon {
    margin-right: 5px;
    }

   .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 30%;
    max-width: 50%;
    margin-left: -405px;
    margin-top: -20px;
    }

    #container {
    overflow-y: scroll;
    height: 300px; /* Define the container's height */
    color: black;
    }

    .logoswitch {
    font-weight: 900;
    margin-left: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    
    }

    .logoswitchphrasedmL3 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:-50px;
    font-size: 18px;
    margin-left: 3px;
    }

    .logoswitchphrasedmL2 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:-50px;
    font-size: 18px;
    margin-left: 5px;
    }
    
    .warning {
    left: 750px !important;
    bottom: 600px !important;
    text-align: justify;
    width: 700px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    background-color: black; /* Set background color */
    margin: 50px auto; /* Add margin for spacing */
    border: 2px solid black; /* Add border */
    padding: 8px; /* Add padding around text */
    text-align: center;
    margin-top: 50px; 
    color: white;
    animation: animacao-texto 40s forwards;
    position: absolute !important;
    font-size: 13px;
    display:inline-flex ;
    z-index: 1000 !important;
    }

    /* animations must be declared with sintax "animation: name-of-animation + duration (seconds)"
    , plus use @keyframes sintaxe to describe the animation that will be used */

    @keyframes animacao-texto {

    10% {
    opacity: 1 ; /* Começa com opacidade 0 */
    }
    25% {
    opacity: 1 ; /* Termina com opacidade 1 (totalmente opaco) */
    }
    30% {
    opacity: 0;
    }
    from { opacity: 0.1; }
    to { opacity: 1.0; opacity: 0.0; }
    }
  
    .sendconfig {
    border-color: rgb(81, 77, 153); 
    background: linear-gradient(90deg, rgb(7, 2, 114) 0%, rgba(9,9,121,1) 35%, rgba(10,62,128,1) 100%);
    margin-left: 48px;
    margin-top: -80px;
    color: white;

    }

/* left border menu of the page */ 

    .leftmenu {
    left: 100px;
    top:47px;
    bottom: 200px;
    position: absolute;
    width: 315px;
    height: 1500px;
    background-color: rgb(2,0,36);
    z-index: -1000 !important;
    margin-left: -100px;
    }

    .sendconfig:hover {
    background: rgb(29, 29, 147);
    }

    .homepage {
    width: 1900px;
    margin-top: -180px;
    background: rgb(2,0,36);
    height: 50px;
    position: fixed;
    z-index: 10000 !important;
    }

    .homepagebar1 {
    color: #fff !important;
    font-weight: 700;
    font-family:  Sans Mono, monospace;
    font-size: large;
    }

    .homepagebar2 {
    font-weight: 700;
    font-family:  Sans Mono, monospace;
    margin-top: 1px;
    font-size: large;
    }

    .bstreeview .list-group-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    color: lightgrey;
    font-weight: 500;
    background-color: rgb(2,0,36);
    }

    /* :hover pseudoclass to let the background color change when we pass the cursor on it*/
    .bstreeview .list-group-item:hover {
    border-top: 1px solid black !important; 
    background: rgb(29, 29, 147);
    }

    /* icons */

   .fa-folder:before {
    content: "\f07b";
    color:rgb(250, 146, 18);
    }

    .fa-server:before {
    content: "\f233";
    color: #fff;
    }

    #clickipnavbarswitchconfig {
    width: 120px;
    height: 45px;
    z-index: -1;
    margin-left: 50px;
    display: block;
    margin-top: -170px;
    position: fixed;
    z-index: 1000000;
    }

    .breadcrumb-item.active {
    color: #6c757d;
    margin-left: 0px;
    }

    .homepagebar1 {
    color: #fff !important;
    font-weight: 700;
    font-family: Sans Mono, monospace;
    font-size: large;
    margin-left: 300px;
    }

    .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/";
    }

    .bstreeview > .list-group-item:first-child:hover {
    border-top-width: 0;
    background-color: rgb(20, 20, 122) !important;
    }


    /* Buttons of info and redirect to script page */

    .topologiamenu {
    color: darkblue;
    position: absolute;
    margin-left: 200px;
    font-size: 28px;
    left: 720px !important;
    bottom: 550px !important;
    text-align: justify;
    font-weight: 800;
    font-family: monospace;
    }

    /* topologias icons */

    .topologiaicon {
          
        left: 500px !important;
        bottom: 405px; 
        position:absolute;
        display: flex;
    }

    .topologiaicon2 {
          
        left: 850px !important;
        bottom: 405px; 
        position: absolute;
    }
    
    .topologiaicon3 {
          
        left: 1150px !important;
        bottom: 405px; 
        position: absolute;
    }

    .topologiaicon4 {
          
        left: 1500px !important;
        bottom: 405px; 
        position: absolute;
    }

    .topologiaicon5 {
          
        left: 1150px !important;
        bottom: 255px; 
        position: absolute;
    }

    
    .topologiaicon6 {
          
        left: 850px !important;
        bottom: 255px; 
        position: absolute;
    }

/* topologias buttons */ 

    .buttontopologiaicon {
        display: block;
        position: absolute !important;
        left: 600px!important;
        height: 55px;
        bottom: 410px;
        border-width: 1px; 
        border-color: blue;
        border-radius: 0.3rem;
        background-color: rgb(20, 20, 122);
        color:white;
        font-weight: 600;
        
       
    }
    

    .buttontopologiaicon:hover {
       
        background-color: rgb(20, 20, 72);
       

    } 

    .buttontopologiaicon2 {
        display: block;
        position: absolute !important;
        left: 950px!important;
        height: 55px;
        bottom: 410px;
        border-width: 1px; 
        border-color: blue;
        border-radius: 0.3rem;
        background-color: rgb(20, 20, 122);
        color:white;
        font-weight: 600;
       
    }
    
  
    .buttontopologiaicon2:hover {
       
        background-color: rgb(20, 20, 72);
       

    } 

    .buttontopologiaicon3 {
        display: block;
        position: absolute !important;
        left: 1250px!important;
        height: 55px;
        bottom: 410px;
        border-width: 1px; 
        border-color: blue;
        border-radius: 0.3rem;
        background-color: rgb(20, 20, 122);
        color:white;
        font-weight: 600;
       
    }
    
    
    .buttontopologiaicon3:hover {
       
        background-color: rgb(20, 20, 72);
       
    } 
 
    .buttontopologiaicon4 {
        display: block;
        position: absolute !important;
        left: 1600px!important;
        height: 55px;
        bottom: 410px;
        border-width: 1px; 
        border-color: blue;
        border-radius: 0.3rem;
        background-color: rgb(20, 20, 122);
        color:white;
        font-weight: 600;
      
    }
    

    .buttontopologiaicon4:hover {
       
        background-color: rgb(20, 20, 72);
       

    } 

  
    .buttontopologiaicon5 {
        display: block;
        position: absolute !important;
        left: 1250px!important;
        height: 55px;
        bottom: 260px;
        border-width: 1px; 
        border-color: blue;
        border-radius: 0.3rem;
        background-color: rgb(20, 20, 122);
        color:white;
        font-weight: 600;
        
      
    }
    

    .buttontopologiaicon5:hover {
       
        background-color: rgb(20, 20, 72);
       

    } 

    .buttontopologiaicon6 {
        display: block;
        position: absolute !important;
        left: 950px!important;
        height: 55px;
        bottom: 260px;
        border-width: 1px; 
        border-color: blue;
        border-radius: 0.3rem;
        background-color: rgb(20, 20, 122);
        color:white;
        font-weight: 600;
       
    }
    

    .buttontopologiaicon6:hover {
       
        background-color: rgb(20, 20, 72);   
    } 

    .linhacentral {
    width: 1300px;
    height: 3px;
    background-color: rgb(20, 20, 122);
    left: 450px !important;
    position: absolute !important;
    top: 580px;
    z-index: 1000  !important;
    display: block !important ;
    }


    .fixcarddropdown {
    left: 0px !important;
    bottom: 0px !important;
    position: absolute;

    }

    .cardflow {
    z-index: 1000 !important;
    }

    .dropdown-toggle::after {
        display: inline-block;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;

    }

/* cards */

.card-text {
 font-size: 16px;
 font-weight: 600;
 font-family: 'Times New Roman';
 text-align: justify !important;
}


.cardsize {
    width: 550px !important;
    min-height: 300px !important;
    max-height: auto;
    animation-name: card;
    animation-duration: 2s;
}

.metrobutton {
    background-color: rgb(20, 20, 122);

}

/* animation of above cards */

@keyframes card {
    0% {
        opacity: 0 ; /* Começa com opacidade 0 */
        }
        100% {
        opacity: 1 ; /* Termina com opacidade 1 (totalmente opaco) */
        }
        from { opacity: 0.1; }
        to { opacity: 1.0 }
}


.networkicon {
margin-top: 150px;

}


/* DM 4370 SCRIPTGENERATOR.HTML */

.homepagescript {
    height: 60px;
    margin-top: -260px;
    background: rgb(2, 0, 36);
    position: fixed;
    width: 1890px;
    z-index: 100;
}


/* The following .logoswitchscript class moves both logo icon and the phrase down of it */
/* use it instead of networkicon class, it is easier to change values */
.logoswitchscript {

    font-weight: 900;
    margin-left: 790px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -110px;

}

    .logoswitchphrasedmL3script {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -10px;
    font-size: 18px;
    margin-left: 10px;
    }


  .warningscript {

    left: 540px !important;
    bottom: 500px !important;
    text-align: justify;
    width: 700px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    background-color: black; /* Set background color */
    margin: 50px auto; /* Add margin for spacing */
    border: 2px solid black; /* Add border */
    padding: 8px; /* Add padding around text */
    text-align: center;
    margin-top: 50px; 
    color: white;
    animation: animacao-texto 40s forwards;
    position: absolute !important;
    font-size: 13px;
    display:inline-flex ;
    z-index: -1 !important;
    border-radius: 0.4rem;

  } 

/* gg profile icon */

  .gg-profile,
  .gg-profile::after,
  .gg-profile::before {
   display: block;
   box-sizing: border-box;
   border: 2px solid;
   border-radius: 100px;
   position: absolute;
   left: 1140px;
  }
  
  .gg-profile {
   overflow: hidden;
   transform: scale(var(--ggs,1));
   width: 22px;
   height: 22px;
   position: relative;
   color: white;
  }
  
  .gg-profile::after,
  .gg-profile::before {
   content: "";
   position: absolute;
   top: 2px;
   left: 5px;
   width: 8px;
   height: 8px;
   color: white;
  }
  
  .gg-profile::after {
   border-radius: 200px;
   top: 11px;
   left: 0px;
   width: 18px;
   height: 18px;
   color:white;
  } 

  .profiletext {
    font-size: 13px;
    font-weight: 700;
    color:white;
    bottom: 100px !important;
    top: 100px !important;
    margin-left: 980px;
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;

  }

/* SCRIPT FORMS */

.forms {
    left: 400px;
    bottom: 50px !important;
    position: absolute;
    display: block;

}

.forms2 {
    left: 700px;
    bottom: 100px !important;
    position: absolute;

}

/*right window advices !IMPORTANT */

.formsadvice {

    display: flex;
    position: relative;
    width: 650px;
    padding: 20px;
    left: 550px !important;
    top: 230px !important;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#fff;
    z-index: 0;
}


.formsadvicecircuito {

    display: flex;
    position: relative;
    width: 650px;
    padding: 20px;
    left: 1250px !important;
    top: -265px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#fff;
    z-index: 0;
}



.formsadvicecliente {
    display: flex;
    position: relative;
    width: 650px;
    padding: 20px;
    left: 1250px !important;
    margin-top: -225px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#fff;
    z-index: 0;
}

.formsadviceproduct {

    display: flex;
    position: relative;
    width: 650px;
    padding: 20px;
    left: 1250px !important;
    margin-top: 335px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#fff;
    z-index: 0;
}


.formsadvicevlanask {

    display: flex;
    position: relative;
    width: 650px;
    padding: 20px;
    left: 1250px !important;
    margin-top: 150px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#fff;
    z-index: 0;

}

.formsadvicecpeask {

    display: flex;
    position: relative;
    width: 650px;
    padding: 20px;
    left: 1250px !important;
    margin-top: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#fff;
    z-index: 0;

}

.formsadviceredecpe {

    display: flex;
    position: relative;
    width: 650px;
    padding: 20px;
    left: 1250px !important;
    margin-top: 270px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#fff;

}

.formsadviceredecpespeed {

    display: flex;
    position: relative;
    width: 650px;
    padding: 20px;
    left: 1250px !important;
    margin-top: 40px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#fff;

}

.formsadviceredemetrospeed {

    display: flex;
    position: relative;
    width: 650px;
    padding: 20px;
    left: 1250px !important;
    margin-top: 40px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#fff;
    z-index: 0;

}

/* First 2 Right advices (separated from above)  */

#circuito {

    top: -210px;
    display: block;
    position: absolute;
    z-index: 0;

}

#cliente {

    top: -110px;
    display: block;
    position: absolute;
    z-index: 0;
}

/* NUMBER VLAN INPUT FIELD */

.formsadvicevlan {

    display: block;
    position: absolute;
    width: 650px;
    left: 550px !important;
    top: 105px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#fff;
}

.formsadvicenumbervlan {
 
    display: block;
    position: absolute;
    width: 650px;
    left: 550px !important;
    top: 185px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#fff;

}

.formsadviceredemetro {

     display: block;
    position: absolute;
    width: 650px;
    left: 1270px !important;
    top: 1070px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#fff;
    z-index: 0;
}

.formsid {
    margin-top: 82px;
    bottom: 100px;
    top: 593px;
    position: relative;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    left: -250px;
    color: #fff;
    z-index: 0;

}

/* leftmenu2 is now the forms background */

    .leftmenu2 {
    left: 120px;
    top: 407px;
    bottom: 200px;
    position: absolute;
    width: 1870px;
    height: 1180px;
    background-color: rgb(15, 28, 85);
    z-index: -1000 !important;
    margin-left: -100px;
    border-radius: 0.7rem;
}

    .sendconfig2 {
    border-color: rgb(255, 255, 255); 
    margin-left: -35px;
    width: 450px;
    position: absolute;
    margin-top: 680px;
    color: white;

}


.sendconfig2:hover {

    border-width: 2px;
    border-color: black;
    background-color: rgb(15, 140, 243);

}

    /* numbervlan field = VLAN */

    .numbervlan {
        bottom: -170px !important;
        position: absolute;
        z-index: 0;
    }

    .product {
        background-color: #fff !important;
        color: grey !important;
        height: 40px;
        font-weight: 400;   
    }

    .product:hover {
        background-color:lightblue !important;
        border-width: 0px;
    }

    .w-2\.5 {
        margin-left: 345px !important;
        margin-top: -13px;
        display: block;
        position: relative;
        color: black;
    }

    .text-blue-600 {
        cursor:pointer;
    }

    .textproduct {

        left: -30px;
        position: relative;
    }

    .textvlan {
        top: 230px;
    }

    /* fix iconposition */

    #clickipnavbarswitchconfigscript {
        width: 120px;
        height: 45px;
        z-index: -1;
        margin-left: 50px;
        display: block;
        margin-top: -255px;
        position: fixed;
        z-index: 100;
    }


 #textradio1 {

    position:absolute;
    color: white !important;
    position:relative;
    padding: 20px;
    top: 90px !important;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 0;
 }

 #textradio2 {

    position: absolute;
    color: white !important;
    padding: 20px;
    top: 90px !important;
    margin-left: 220px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 0;
 }

 
 
 #radiocheck1 {

    top: 114px !important;
    position: absolute;
    cursor: pointer;
    z-index: 0;
 }

  
 #radiocheck2 {

    margin-top:115px;
    position: absolute;
    margin-left: 285px;
    cursor: pointer;
    z-index: 0;
 }

#dropdownCheckboxButton {

    margin-top: 0px;
    position: absolute;
    z-index: 0;
}

.textradio3{
position: absolute;
margin-left: 32px !important;
top: -5px;
font-size: 17px;
z-index: 0;
}


.textradio4 {
    position: absolute;
    margin-left: -48px !important;
    top: -5px;
    font-size: 17px;
    z-index: 0;

}



 .radiocheck3 {

    top: 210px !important;
    left: 0px;
    position: absolute;
    cursor: pointer;
    color: white !important;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 0;
 }
  
 .radiocheck4 {
    color: white;
    margin-top:138px;
    position: absolute;
    margin-left: 365px;
    cursor: pointer;
    font-size: medium;
    width: 125px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    z-index: 0;

 }

 .portacpe {
    display: block;
    position: absolute;
    background-color: #fff !important;
    color: grey !important;
    height: 40px;
    font-weight: 400;
    bottom: -300px !important;
    width: auto;

 }

.cpedropdown {
    left: -40px;
    top:0px;
}

.textcpe {
    width: 240px;
}


.metro {
margin-top: 100px !important;
position: absolute;

}

/* numbervlan2 = cpe */

.numbervlan2 {
    position: absolute;
    display: block;
    top: 420px;
    z-index: 0;
}



/* Metro speed selection */

    .metro {
    margin-top: 100px !important;
    position: absolute;
   

    }

    .numbervlan3{
        position:absolute;
        display: block;
        top: 530px !important;
        z-index: 0;

    }

    .productmetro {
        background-color: #fff !important;
        color: grey !important;
        height: 40px;
        position: absolute;
        top: 640px;
        left: 0px;
        width: 385px;
        font-weight: 400;
        position: absolute;
        z-index: 0;
        
    }

    .svgmetro {

        position: absolute;
        left: 0px;
        top: 29px;
    }

    .textmetro {
        margin-left:-35px;
        font-weight: 400;
    }


/* Cpe speed selection */
    .cpe {
    margin-top: 100px !important;
    position: absolute;
   
    
    }

    .numbervlan3{
        position: absolute;
        display: block;
        top: 750px;
       

    }

    .productcpe {
        background-color: #fff !important;
        color: grey !important;
        height: 40px;
        position: absolute;
        top: 745px;
        left: 0px;
        width: 385px;
        font-weight: 400;
        z-index: 0;
        
    }

    .svgcpe {

        position: absolute;
        left: 0px;
        top: 29px;
    }

    .textcpe {
        margin-left:-50px;
        font-weight: 400;
    }

    /* phrase of choose product*/

    #changeable-phrase {
        margin-left: -70px;
    }

/* formsicons */

.circuitoicon {
    position: absolute;
    width: 75px;
    height: 75px;
    top:415px;
    z-index: -10;
    left:600px;
}

.hostnameicon {
    position: absolute;
    width: 75px;
    height: 75px;
    top:515px;
    z-index: -10;
    left:600px;

}

.produtoicon {
    position: absolute;
    width: 75px;
    height: 75px;
    top:615px;
    z-index: -10;
    left:600px;

}

.vlanicon {

    position: absolute;
    width: 75px;
    height: 75px;
    top:940px;
    z-index: -10;
    left:600px;
}

.redemetroicon {

    position: absolute;
    width: 75px;
    height: 75px;
    top:1050px;
    z-index: -10;
    left:600px;
}

.portaredemetroicon {

    position: absolute;
    width: 75px;
    height: 75px;
    top:1155px !important;
    z-index: -10;
    left:600px;

}

.velocidaderedecpe {

    position: absolute;
    width: 75px;
    height: 75px;
    top:1260px;
    z-index: -10;
    left:600px;
}

.velocidaderedemetroicon {

    position: absolute;
    width: 75px;
    height: 75px;
    top:1370px;
    z-index: -10;
    left:600px;
}

/* Script Generator */

.scripttext {
    display: block;
    font-size: 15px;
    left: 850px;
    position: relative;
    color: white;
}

.backgroundscript {

    left: 0px;
    top: 0px;
    bottom: 200px;
    position: absolute;
    width: 2900px;
    height: 1780px;
    background-color:black;
    z-index: -1000 !important;
    margin-left: -100px;
   
}

.scripttitle {

    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 50px;
    text-decoration: underline;
}

.homepagescriptgenerator {

    height: 60px;
    margin-top: -0px;
    background: rgb(2, 0, 36);
    position: fixed;
    width: 1890px;
    z-index: 100;
}

#clickipnavbarswitchconfigscriptgenerator {

    width: 120px;
    height: 45px;
    z-index: 100;
    margin-left: 50px;
    display: block;
    margin-top: -255px !important;
    position: fixed;

}

.homepagebarscriptgenerator {
position: relative;
    left: 450px !important;
    font-size: large;
}

.houseicon {

    position: absolute;
    left: 1200px;
    top: 2px;
}

.profilescriptgenerator {
    margin-left: -15px;
}

.warningphrase {
    color: red;
    left: -200px;
    position: relative; 
}

/* vplstunneling.html styles */

.warningscriptvpls {

    left: 540px !important;
    bottom: 500px !important;
    text-align: justify;
    width: 700px; /* Adjust width as needed */
    height: 70px; /* Adjust height as needed */
    background-color: black; /* Set background color */
    margin: 50px auto; /* Add margin for spacing */
    border: 2px solid black; /* Add border */
    padding: 8px; /* Add padding around text */
    text-align: center;
    margin-top: 50px; 
    color: white;
    animation: animacao-texto 40s forwards;
    position: absolute !important;
    font-size: 13px;
    display:inline-flex ;
    z-index: -1 !important;
    border-radius: 0.4rem;

}

/* send button vpls */

.formsidvpls {

    margin-top: -130px;
    bottom: 100px;
    top: -120px;
    position: relative;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    left: -200px;
    color: #fff;
    z-index: 0;
}

.formsadviceclientevpls {

    display: flex;
    position: relative;
    width: 650px;
    padding: 20px;
    left: 1150px !important;
    margin-top: -265px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    z-index: 0;

}

.formsadviceproductvpls {

    display: flex;
    position: relative;
    width: 650px;
    padding: 20px;
    left: 1150px !important;
    margin-top: 335px;
    font-weight: 600;
    top: -100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    z-index: 0;

}

.sendconfigvpls {

    border-color: rgb(255, 255, 255); 
    margin-left: -35px;
    width: 450px;
    position: absolute;
    top: 0px;
    color: white;

}

.sendconfigvpls:hover {
    
    border-width: 2px;
    border-color: black;
    background-color: rgb(15, 140, 243);

}

.numbervlanvpls {

    bottom: 170px !important;
    position: absolute;
    z-index: 0;

} 

.leftmenu2vpls {

    left: 120px;
    top: 407px;
    bottom: 200px;
    position: absolute !important;
    width: 1870px;
    height: 500px;
    background-color: rgb(15, 28, 85);
    z-index: -1000 !important;
    margin-left: -100px;
    border-radius: 0.7rem;

}

.formsadvicevpls {

    display: flex;
    position: relative;
    width: 650px;
    padding: 20px;
    left: 550px !important;
    top: -110px !important;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#fff;
    z-index: 0;

}

/* circuitovpls = vpn field (string or number or both) */

#circuitovpls {
    top: -300px;
    position: absolute;
    z-index: 0;
}

/* clientevpls = network seguiment field */

#clientevpls {
    top: -200px;
    position: absolute;
    z-index: 0;
}

.homepagescriptvpls {
    height: 60px;
    margin-top: -260px;
    background: rgb(2, 0, 36);
    position: fixed;
    width: 1905px;
    z-index: 100;
}


.logoswitchphrasedmL3scriptvpls {

    display: block;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -10px;
    font-size: 18px;
    margin-left: -30px;

}

.scripttitlevpls {
    
    right: -10px !important; font-size: 28px;
    margin-bottom: 20px;
    margin-top: 50px;
    text-decoration: underline;
}

.backgroundscriptvpls {

    left: -880px;
    top: -120px;
    bottom: 00px;
    position: absolute;
    width: 2950px;
    height: 1620px;
    background-color:black;
    z-index: -1000 !important;
    margin-left: -0px;
}










